* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    letter-spacing: .5px;
}
body{
    background-color: antiquewhite;
}
.baner {
    width: 100%;
    height: 25vh;
    display: flex;
    background-image: url('/img/fondo-banner.jpg');
    justify-content: center;
    background-size: cover;
    align-items: center;
    font-family: Arial, sans-serif;
}

#titulo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    text-align: center;
    font-size: 500%;
    line-height: 80px;
}

.car {
    width: 4%;
    top: 100px;
    margin-left: 93%;
    position: fixed;
}
.carrito-imagen {
    max-width: 100px; /*Ajusta el tamaño máximo de la imagen del carrito
    height: auto; mantiene la proporción */
}
#cuenta-carrito{
    text-decoration: none;
    color: chartreuse;
    margin-left: 1280px;
    margin-top: -7%;
    position: fixed;
}
/* Estilo para el contenedor de las tarjetas */
#items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centrar las tarjetas horizontalmente */
}

/* Estilo para las tarjetas */
.card {
    background-color: #e0f2f1; 
    border-radius: 15px; 
    margin: 20px; 
    padding: 20px; 
    width: calc(33.33% - 40px); /* Ancho de las tarjetas (ajustable según el número de tarjetas por fila) */
    text-align: center; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    
}

.card-title {
    font-family: 'Arial', sans-serif; /* Fuente de letra elegante */
    font-size: 1.5em; /* Tamaño de fuente */
    color: #333; /* Color de texto */
}
.card-text {
    font-family: 'Arial', sans-serif; /* Fuente de letra elegante */
    color: #666; /* Color de texto */
}

/* Media query para dispositivos más pequeños */
@media (max-width: 768px) {
    .card {
        width: calc(50% - 40px); /* Ancho de las tarjetas en dispositivos más pequeños */
    }
}
/* Estilo para las tarjetas del carrito */
.list-group-item {
    background-color: #e0f2f1; /* Color de fondo verde claro */
    border: none; /* Eliminar borde */
    border-radius: 15px; /* Bordes redondeados */
    margin-bottom: 20px; /* Espacio entre las tarjetas */
    padding: 20px; /* Espacio interno de las tarjetas */
}

/* Estilo para la imagen dentro de las tarjetas del carrito */
/*  */

/* Estilo para el texto dentro de las tarjetas del carrito */
.list-group-item span {
    font-family: 'Arial', sans-serif; /* Fuente de letra elegante */
    color: #333; /* Color de texto */
}

/* Estilo para el botón de eliminar dentro de las tarjetas del carrito */
.list-group-item button {
    font-family: 'Arial', sans-serif; /* Fuente de letra elegante */
}

/* Media query para dispositivos más pequeños */
@media (max-width: 768px) {
    .list-group-item {
        width: 100%; /* Ancho completo en dispositivos más pequeños */
    }
}

